.btn {
  border-radius: 999px;
  padding: .8rem 1.5rem;
  transition: all .3s ease;
  font-weight: 700;
  border: 2px solid;

  &:hover {
    transform: scale(.95);
  }
}
.btn-primary {
  /* background-color: var(--color-forest-green-400); */
  background: linear-gradient(to right bottom, var(--color-forest-green-300), var(--color-forest-green-500), var(--color-forest-green-300));
  color: var(--color-neutral-800);
  border-color: var(--color-forest-green-600);
  box-shadow: inset -5px -5px 10px var(--color-forest-green-600);
  
  &:hover {
    box-shadow: inset -5px -5px 10px var(--color-forest-green-700), inset 5px 5px 5px var(--color-forest-green-300);
  }
}
.btn-secondary {
  border-color: var(--color-neutral-300);
  background: linear-gradient(to right bottom, var(--color-neutral-100), var(--color-neutral-300), var(--color-neutral-100));

  &:hover {
    box-shadow: inset -5px -5px 10px var(--color-neutral-300), inset 5px 5px 5px var(--color-neutral-200);
  }
}